#canvasContainer {
    position: relative;
    width: 1880px;
    height: 3000px;
    overflow: hidden;
    border: 0px solid black;
}

#drawingCanvas, #pdfCanvas, #whiteSheetCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#drawingCanvas {
    z-index: 2;
}

#whiteSheetCanvas {
    z-index: 1;
}

#pdfCanvas {
    z-index: 0;
}

#activeUsers {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #001020;
    border: 1px solid #ccc;
    padding: 7px;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    max-height: 200px;
    overflow-y: auto;
    /* إضافة منع تحديد النص */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#userList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#userList li {
    color: #eeff00;
    font-weight: 600;
    font-family: 'Roboto', sans-serif !important;
}

/* تحسين مظهر شريط التمرير */
#activeUsers::-webkit-scrollbar {
    width: 5px;
}

#activeUsers::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#activeUsers::-webkit-scrollbar-thumb {
    background: #888;
}

#activeUsers::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.textLayer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.2;
    opacity: 0.8;
    white-space: pre;
}

#drawingCanvas, #pdfCanvas, #whiteSheetCanvas {
    direction: ltr;
}

/* تثبيت العناصر في أعلى الصفحة */
#controlsContainer {
    position: fixed;
    top: 2px;
    right: 0px;
    z-index: 10000;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 0px;
}

/* تنسيق الأزرار والعناصر داخل الحاوية */
#controlsContainer input[type="file"], 
#controlsContainer button, 
#controlsContainer input[type="color"], 
#controlsContainer input[type="number"], 
#controlsContainer select, 
#controlsContainer label {
    margin-left: 10px;
}

/* إضافة قواعد جديدة لمنع تحديد النص في الأزرار والعناصر */
#controlsContainer button,
#controlsContainer select,
#controlsContainer label,
#controlsContainer input[type="file"]::file-selector-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* منع تحديد النص في العناصر الأخرى التي قد تحتوي على نص */
#controlsContainer span,
#controlsContainer div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* منع تحديد النص في نافذة المستخدمين النشطين وعناصرها الفرعية */
#activeUsers,
#activeUsers * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}